 @charset "UTF-8"; 
 @import url(casa-da-pizza-logo.jpg);
@font-face{
    font-family: 'FonteLogo';
    src: url(../_fonts/bubblegum-sans-regular.otf);

}

body{
    background-image: url() no repeat;
    background-color: rgb(238, 177, 116);
    color: rgb(0, 0, 0);
    font-family: 'FonteLogo';
}
.album{
display: flex;
width: 600%;
height: 100%;



}
.content{
width: 525px;
height: 750px;
overflow: hidden;
top: 0px;
left: 150px;
position: relative;

}

.slide{
    width: 20%;
    transition: 0.6s;
}

.slide img{
width: 100%;
height: 100%;
margin-left: 50px;

}

#slide1:checked ~ .s1{
    margin-left: 0px;

}

#slide2:checked ~ .s1{
    margin-left: -22%;

}
#slide3:checked ~ .s1{
    margin-left: -42%;

}
#slide4:checked ~ .s1{
    margin-left: -62%;

}
#slide5:checked ~ .s1{
    margin-left: -82%;

}
#slide6:checked ~ .s1{
    margin-left: -102%;

}


input{
    display: none;
}


.navegacaoalbum{
top: 670px;
left: 80px;
width: 420px;
height: 20px;
display: flex;
position: absolute;



}

.bar{
position: relative;
width: 70px;
height: 17px;
border: 2px solid white;
border-radius: 5px;
margin: 4px;
cursor: pointer;
transition: 0.4s;

}

.bar:hover{
background-color: rgb(253, 253, 253);

}

h1{
    text-align: center;
}
h2{
    text-align: center;
}

p{
text-align: justify;
text-indent: 50px;
}

/* Formatação do menu */
nav#menu ol {
list-style: none;
text-transform: uppercase;
position: absolute;
top: 0px;
left: 1200px;

}

nav#menu li{
display: inline-block;
background-color: rgba(0,0,0,0.3);
padding: 10px;
margin: 2px;
/* transition: background-color 1s; */


}

nav#menu li:hover{
  background-color: rgba(0,0,0,0.5);
    
    
    }

nav#menu{
display: block;


}

nav#menu a{

    color: rgb(0, 0, 0) ;
    text-decoration: none;
}

nav#menu h1{
display: none;

}

/* Fim da Formatação do Menu*/


div.imagem{

    text-align: center;
  
}

figure.foto-legenda-pizza {
    display: inline-block;
    position: relative;
    border: 1px solid black;
    box-shadow: 2px 2px 4px black;
    padding: 10px;
    
   

}


figure.foto-legenda-pizza img{

    width: 100%;
    height: 100%;
   
}



header#cabecalho{

border-bottom: 2px black dotted;

}
/* formatação do album de fotos*/


/* Formatação do Menu de redes sociais */


 
figure#zap ol{
list-style: none;
position: absolute;
left: 1600px;
top: 320px;


}

figure#zap li{
position: relative;
display: inline-block;


}

figure#zap:hover img{
background-color: rgba(0,0,0,0.4);

}
 figure#zap img{
    position: relative;
    top: 0px;
    width: 30px;
    height: 30px;
   
    
}

/* Fim da Formatação do Menu de redes sociais   
     Inicio da formataçãod da seção,aside e footer    */
 section#corpo{

    display: block;
    width: 1000px;
    height: 1000px;
    float: left;
    border-right: 2px dotted black;
    padding-right: 50px;
    overflow: hidden;
 }

 aside#lateral{
display: block;
width: 600px;
float: right;




 }

 footer#rodape{
clear: both;
text-align: center;
border-top: 2px dotted black ;

 }

/* Fim da Formatação da seção  
Inicio da formatação da tabela  */

table.tabela{
/* border: 1px solid black; */
border-spacing: 0px;
margin-top: auto;
margin-left: auto;
margin-right: auto;


}

  
    table.tabela th {
       border-bottom: 2px solid black;

    }

table.tabela td{
    border-bottom: 2px solid rgb(0, 0, 0);
    border-left: 2px solid rgb(0, 0, 0);
    text-align: center;
    
    
    }

table.tabela tr{
    border-right: 2px solid black ;
        
        
     }
    
table.tabela td.Borda{
border-right: 2px solid rgb(0, 0, 0) ;

}     
table.tabela caption.piz-cal{

    font-size: 28px;
    margin-bottom: auto;
    font-weight: bold;


}

 

